.mainBlock {
    height: 100vh;
    background-color: #bfc3f9;
}

.photo {
    width: 320px;
    height: 400px;
    background-color: linen;
}

.text {
    width: 500px;
    background-color: mistyrose;
}

